#clockContainer{  
    position: relative;
    margin: auto;
    height: 38vw;
    width: 40vw; 
    background: url(clock\ .png) no-repeat;
    background-size: 100%;
    border: 10px solid white;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px; 
    transform-origin: bottom;
}
#hour{
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;  
}
#minute{
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;  
}
#second{
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8; 
    
}

.text{
    color: red;
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
    border: 30px solid black;
    margin: auto;
    background-color: coral;
    border-radius: 6px;
    height: 80px;
    offset-distance: 2px;
}

body{
    height: 100vh;
    background: whitesmoke;
}
   